body {
    background-color: black; /* Fond noir */
    color: white; /* Couleur du texte en blanc pour la visibilité */
    font-family: Arial, sans-serif; /* Choix de la police */
    margin: 0; /* Enlève les marges par défaut */
    padding: 20px; /* Ajoute un peu de rembourrage autour du contenu */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre centré */
.centered-title {
    text-align: center; /* Centre le texte horizontalement */
    font-size: 2.5rem;
    margin: 30px 0; /* Ajoute de l'espace autour du titre */
}

/* Conteneur de recherche */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Ombre autour du formulaire */
    margin-bottom: 30px;
    width: 100%;
    max-width: 600px;
}

/* Espacement entre les champs de recherche */
.search-container label, .search-container input {
    margin-bottom: 15px; /* Ajoute un espacement vertical entre les champs */
}

.search-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.search-input:focus {
    outline: none;
    border-color: #007BFF;
    background-color: #444;
}

/* Bouton de recherche */
.search-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.search-button:hover {
    background-color: #0056b3;
}

/* Logo positionné en haut à gauche */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 180px; /* Taille du logo */
    height: auto; /* Garder les proportions */
}

/* Icône de profil */
.user-profile-icon {
    position: fixed;
    top: 100px;
    right: 100px;
    cursor: pointer;
}

.user-profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
